//
   Created by jmccommas on 11/27/14.

.modal-header
h3.modal-title Thank You For Your Order!
    .modal-body
        p All products that are displayed here are for demonstrational purposes only and will not be shipped

    .modal-footer
        button.btn.btn-primary(ng-click='ok()') close me!!!
