//
   Created by jmccommas on 11/26/14.

.row.prod-details
    .page-header
        h1 {{product.productName}}
    .col-md-5
        img.img-responsive(src='{{product.imageUrl}}', alt='{{product.productName}}')
    .col-md-7 werwer

