//
   Created by jmccommas on 11/26/14.

.row.prod-details
    .page-header
        h1 {{product.productName}}
    .col-md-5
        img.img-responsive(src='{{product.imageUrl}}', alt='{{product.productName}}')
    .col-md-7
        h1 {{product.productName}}
        h2 description:
        p {{product.description}}
        ul.list-unstyled
            li
                span code:
                |  {{product.productCode}}
            li
                span date available:
                |  {{product.releaseDate | date:format}}
            li
                span cost:
                |  {{product.price | currency}}

