//
   Created by jmccommas on 11/26/14.
div.prod-details
    div.page-header
        h1
            small now editing:
            | {{vm.product.productName}}
.wizardwell
    .wizard
        a(ui-sref='.info', ui-sref-active='active')
            | Basic Information
        a(ui-sref='.price', ui-sref-active='active')
            | Price Details
        a(ui-sref='.tags', ui-sref-active='active')
            | Search Tags
        a(ui-sref='.image', ui-sref-active='active')
            | Upload Image
    div(ui-view='')