//
   Created by jmccommas on 11/25/14.
.prod-details
    .page-header
        h1 product listings
.well
    .table-responsive
        table.table.table-striped.table-hover
            thead
                tr
                    td
                        button.shoeimg.btn.btn-purchase(type='button', ng-click='vm.toggleImage()')
                            | {{vm.showImage ?
                            | "Hide" : "Show"}} Image
                    td Product
                    td Code
                    td Available
                    td Price
                    td  
            tbody
                tr(ng-repeat='product in vm.products')
                    td
                        img(ng-if='vm.showImage', ng-src='{{product.imageUrl}}', style='width:50px;margin:2px', title='{{product.productName}}')
                    td
                        a(ui-sref='productDetail({id: product._id})') {{ product.productName}}
                    td {{ product.productCode }}
                    td {{ product.releaseDate | date }}
                    td {{ product.price | currency }}
                    td
                        a.btnedit.btn.btn-primary(ui-sref='productEdit.info({id: product._id})')
                            i.fa.fa-pencil-square-o
                            | Edit
                    td
                        a.btnedit.btn.btn-danger(ng-click='open($index)')
                            i.fa.fa-trash-o
                            | Delete
