form.formEdit.form-horizontal(name='productTagsForm')
    fieldset
        legend Product Search Tags
        .form-group
            label.col-md-2.control-label(for='inputSearchTags') Search Tags
            .col-md-8
                input.form-control(type='text', placeholder='Product search keywords separated by commas', ng-model='vm.newTags')
            .col-md-1
                button.btn.btn-purchase(type='button', title='Add the specified tags', ng-click='vm.addTags(vm.newTags)')
                    | Add
            .tagsBtn.row.col-md-8.col-md-offset-2
                span(ng-repeat='tag in vm.product.tags | orderBy')
                    button.btn.btn-default(style='font-size:smaller;margin-bottom:12px', data-ng-click='vm.removeTag($index)')
                        | {{tag}}
                        span.glyphicon.glyphicon-remove
        .form-group
            .col-md-4.col-md-offset-2
                span
                    button.btn.btn-primary(style='margin-right:10px', type='submit', ng-click='vm.submit(productTagsForm.$valid)')
                        | Save
                span
                    button.cancleBtn.btn.btn-danger(ng-click='vm.cancel()') Cancel