//
   Created by jmccommas on 11/26/14.
div.row.prod-details.school
    div.page-header
        h1 school information & directions
    div.col-lg-5
        ui-gmap-google-map(center='map.center', zoom='map.zoom')
    div.col-lg-7
        h1 university bookstore
        ul.list-unstyled
            li
                span hours:
                | 8am -6pm monday -friday
            li
                span phone:
                | 123-456-7890
            li
                span address:
                | 311 Arsenal St, Watertown, MA 10293
        p
            | Staying for a short visit? Parking in our lot is free for the first 30 minutes of your visit, no purchase
            | required.
            | Staying for a while? Parking in our lot is free for up to 2 hours with a $4 minimum purchase.
            | For validation, see any University Book Store staff member.