//
   Created by jmccommas on 11/25/14.

div.content
    .prod-details
        .page-header
            h1 cost analytics
    .well
            div.col-md-12
                div.chart(ac-chart='"bar"', ac-data='dataAmount', ac-config='configAmount')
            div.col-md-12
                div.chart(ac-chart='"bar"', ac-data='dataPercent', ac-config='configPercent')