//
   Created by jmccommas on 11/25/14.

div.content
    div.panel.panel-primary
        div.panel-heading(style='font-size:large') {{title}}
        div.panel-body
            div.col-md-12
                div.chart(ac-chart='"bar"', ac-data='dataAmount', ac-config='configAmount')
            div.col-md-12
                div.chart(ac-chart='"bar"', ac-data='dataPercent', ac-config='configPercent')