div#navbar-collapse-01.collapse.navbar-collapse(ng-controller='mvNavBarLoginCtrl')
    ul.nav.navbar-nav.navbar-right(ng-show='identity.isAuthenticated()')
        li
            a(ui-sref='productList') Products
        li
            a(ui-sref='productEdit.info({productId:0})') Add Product
        li
            a(ui-sref='cost-analysis') Cost Analysis
        li.dropdown
            a.dropdown-toggle(href='', data-toggle='dropdown')
                | {{identity.currentUser.firstName + " " + identity.currentUser.lastName}}
                b.caret
             ul.dropdown-menu
                li(ng-show="identity.currentUser.isAdmin()")
                    a(ui-sref="admin/users") User Admin
                li
                    a(ui-sref="profile") Profile
                li
                    a(href="", ng-click="signout()") Sign Out


    ul.nav.navbar-nav.navbar-right(ng-hide='identity.isAuthenticated()')
        li
            a(ui-sref='home') Home
        li
            a(ui-sref='school-information') School Info
        li
            a(ui-sref='signup') Store Admin
