div#navbar-collapse-01.collapse.navbar-collapse(ng-controller='mvNavBarLoginCtrl')
    ul.nav.navbar-nav.navbar-right(ng-show='identity.isAuthenticated()')
        li.dropdown
            a.dropdown-toggle(href='', data-toggle='dropdown')
                | {{identity.currentUser.firstName + " " + identity.currentUser.lastName}}
                b.caret
            ul.dropdown-menu
                li
                    a(href='#homelink') Products
                li
                    a(href='#featureslink') School Info
                li
                    a(href='/signup') Store Admin
                li(ng-show='identity.currentUser.isAdmin()')
                    a(href='/admin/users') User Admin
                li
                    a(href='', ng-click='signout()') Sign Out
    ul.nav.navbar-nav.navbar-right(ng-hide='identity.isAuthenticated()')
        li
            a(href='#homelink') Products
        li
            a(href='#featureslink') School Info
        li
            a(href='/signup') Store Admin
