doctype
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Educational Product Management Configurator
        meta(name='description', content='With Innovative Educational Solutions, we make it easy for you to get your products online fast and easy')
        meta(name='author', content='jmccommas@fullsail.edu')
        link(href="images/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(rel="stylesheet", href="/vendor/toastr/toastr.min.css")
        link(rel="stylesheet", href="///maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="/css/animate.css")
        link(rel="stylesheet", href="/css/styles.css")
        link(rel="stylesheet", href="/css/flat-ui-pro.min.css")

        base(href="/")
    body(ng-app='app')
        include currentUser
        block main-content
        include scripts
