.container
    .row
        .col-lg-6
            img.img-responsive(src='images/admin-welcome.jpg', alt='Educational Product Management Solutions')
        .col-lg-6.admin-welcome
            h1 Welcome to Store Demo!!
            p
                | This is the default set up for your store and you can modify the look and feel to your store to match your school colors or logo.


        //div(ng-include="'/partials/main/new-courses'")
